.checkout-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
  .checkout-content-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    max-width: 1200px;
    background-color:#8ecfb6;
    padding: 10px;
  }
  
  .checkout-banner-content-container {
    width: 90%;
    max-width: 1200px;
  }
  
  .checkout-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #5a8f7b;
    height: 75px;
  }
  
  .checkout-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: none;
    width: 100%;

  }
  
  .form-and-summary {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  
  .nav-link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    flex-direction: row;
  }
  
  .logo {
    width: 30px;
    height: 40px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-weight: 500;
    margin: 10px;
  }
  
  .checkout-heading{
    margin-left: 10px;
  }
  
  .back-button {
    align-self: start;
    font-size: 20px;
    padding: 10px 30px;
    margin: 0px 10px;
    border-radius: 5px;
    border: none;
  }
  
  .back-icon {
    color: black;
    font-size: 25px;
  }
  
  .summary-container{
    width: 50%;
    background-color: #59a88a;
  }
  
  .summary-item-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 90%;
  }

  .total{
    font-size: 20px;
    font-weight: 400;
    
  }
  
  .summary-total-title{
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px
  }
  
  .summary-total-price{
    font-size: 25px;
    font-weight: bold;
    background-color: #3f9172;
    border-radius: 10px;
    width: 150px;
    text-align: right;
    padding-right: 20px;
  }
