.banner-container {
    display: flex;
    justify-content: center;
  }
  
.banner-content-container {
    width: 90%;
    max-width: 1200px;
    font-size: 18px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 90%;
    box-sizing: border-box;
    padding-top: 30px;
  }

  .banner-heading{
    color: #2f4858;
  }
  
 .banner-small-heading{
    color: #5a8f7b;
    font-weight: 500;
 }

 .carousel-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 }
  .banner-text {
    font-family: sans-serif;
    font-size: 22px;
  }
  
  .explore-button {
    padding: 14px;
    background-color: #5a8f7b;
    font-size: 22px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  